.App{
  align-items: center;
  padding-right: 15px;
}
h2{
  color: #15db95;
  margin-left: 25%;
}

.task{
  
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 45%;
  margin-top: 5%;
  margin-left: 31%;
  border-radius: 15px;
  padding: 10px;
  
}

form{
  margin-top: 10%;
  margin-bottom: 4%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px;
}
input{
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #231471;
  margin-left: 39px;

}
ul{
  margin: 6px;
}

li{
  list-style-type: none;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(21, 20, 20);
  border-radius: 9px;
  width: 90%;
  margin-bottom: 4px;
  border: 1px solid #05386b;
}
form button{
  padding: 5px;
  border: 1px solid #231471;
  border-radius: 8px;
  width: fit-content;
  background-color: #05386b;
  color: #edf5e1;
  cursor: pointer;
}
.remove{
  padding: 5px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  background-color: #05386b;
  
  color: #edf5e1;
  cursor: pointer;
  display: ;
  
}
button:hover{
  background-color: blue;
}
button:active{
  background-color: darkslateblue;
}
.remove:hover{
  background-color: rgb(223, 42, 42);
}
@media(max-width:650px){
  .task{
    width: 100%;
    margin: 15px;
    margin-top: 20%;
  }
  form{
    width: 100%;
    margin: 0px;
  }
  input{
    margin-left: 10px;
  }
  ul{
    margin-left: 10px;
    padding: 0;
  }
  li{
    margin-bottom: 7px;
    margin-left: 0;
  }

}
