.App{
  align-items: center;
  padding: 15px;
  font-size: 17px;
}
h2{
  color: #003153;
  margin-left: 25%;
  font-family: 'Times New Roman', Times, serif;
}
.quote{
  margin-left: 25%;
  width: 40%;
  font-style: italic;
  

}

.task{
  
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 45%;
  margin-top: 5%;
  margin-left: 31%;
  border-radius: 15px;
  padding: 10px;
  
}
.date{
  margin-left: 10%;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #003153;

}
.animate__animated.animate__fadeOutDown {
  --animate-duration: 15s;
}


form{
  margin-top: 5%;
  margin-bottom: 4%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 6px;
}
input{
  width: 70%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #231471;
  margin-left: 39px;

}
input:focus{
  border: 2px solid #231471;
}

ul{
  margin: 6px;
}

li{
  list-style-type: none;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(58, 57, 57);
  border-radius: 9px;
  width: 90%;
  margin-bottom: 4px;
  border: 1px solid #05386b;
  font-size: 13px;
}
.done{
  padding: 3px;
  border: 1px solid #231471;
  border-radius: 8px;
  width: fit-content;
  background-color: #05386b;
  color: #edf5e1;
  cursor: pointer;
}
.disabled-button{
  cursor: not-allowed;
}
form button{
  padding: 5px;
  border: 1px solid #231471;
  border-radius: 8px;
  width: fit-content;
  background-color: #05386b;
  color: #edf5e1;
  cursor: pointer;
  margin-left: -10px;
}
.remove{
  padding: 5px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  background-color: #05386b;
  
  color: #edf5e1;
  cursor: pointer;
  
  
}
button:hover{
  background-color: blue;
}
button:active{
  background-color: darkslateblue;
}
.remove:hover{
  background-color: rgb(223, 42, 42);
}


@media(max-width:650px){
  App{
    font-size: 20px;
  }
  .quote{
    margin-left: 15%;
    width: 70%;
    color: #003153;
    font-family: 'Times New Roman', Times, serif;
  }
  .task{
    width: 95%;
    margin-left: 0;
    margin-top: 20%;
    font-size: 18px;
  }
 
  form{
    width: 100%;
    margin: 0px;
  }
  input{
    margin-left: 10px;
  }
  ul{
    margin-left: 10px;
    padding: 0;
  }
  li{
    margin-bottom: 7px;
    margin-left: 0;
  }

}
